* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.mainContainer{
    height: auto;
    width: 100vw;
    background-color: #121212;
    display: flex;
    justify-content: left;
    padding-left: 200px;
    align-items: center;
    padding-top: 80px;

}

.headerAboutUs{
    width: auto;
    height: auto;
    font-size: 36px;
    margin-right: 150px;
}

.aboutUsBody{
    color: white;
    width: 700px;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px;
    line-height: 26px;
    margin-right: 100px;
    position: absolute;
    bottom: -200px;
    right: -600px;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsBodyIn{
    width: 99%;
    height: 99%;
    background-color: #282828;
    border-radius: 20px;
}

.masonImage{
    position: relative;
    width: 450px;
    height: 300px;
    border-radius: 20px;
    background-image: url('../pictures/mason.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 300px;
    z-index: 1;
}

@media (max-width: 720px){
    .leftAboutUs{
        display: none;
    }

    .mainContainer{
        background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, #F77F00 100%);
        color: white;
        padding-top: 100px;
        background-size: cover;
        padding-bottom: 100px;
    }
    .rightAboutUs{
        width: 100%;
    }
    .headerAboutUs{
        width: 100%;
        display: felx;
        justify-content: left;
    }

    .headerAboutUs h2{
        width: 300px;
    }
    .aboutUsBody{
        width: 90%;
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
    }
}
