* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Information{
    width: 100vw;
    height: 600px;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  #infoBackground{
    width: 400px;
    height: 400px;
}

.header{
    height: 150px;
    width: 100%;
    display: flex;
    color: #FF7000FF;
    align-items: center;
    font-size: 40px;
    padding-top: 20px;
    text-align: right;
}

.subHeader{
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
}

.subHeader h4{
    display: flex;
    justify-content: right;
    background-color: #FF7000FF;
    text-align: right;
}

.bodyText{
    width: 100%;
    height: 200px;
    font-size: 18px;
    display: flex;
    text-align: right;
    align-items: center;
    line-height: 26px;
    padding-bottom: 30px;
    z-index: 1;
    padding: 0 5px 5px 5px;
}

.infoImage{
    width: 50%;
    height: 500px;
    background-image: url('../pictures/pills.jpeg');
    background-size: cover;
    border: solid 2px #FF7000FF;
    border-radius: 10px;

}

@media (max-width: 720px){
    .Information{
        flex-direction: column;
        padding-bottom: 100px;

        height: 900px
    }

    .infoImage{
        width: 80%;
        height: 300px
    }
}