* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .topBar{
    height: auto;
    width: 100%;
    padding-top: 3px;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  }

  .Information{
    width: 100vw;
    height: auto;
    background-color: #121212;
    color: white;
    display: flex;
    position: relative;
    z-index: 1;
  }

  .blurrBall{
    position: absolute;
    bottom: -300px;
    left: -400px;
    width: 80%;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    filter: blur(100px);
  }

  #outline1{
    width: auto;
    height: auto;
    padding: 3px 3px 3px 3px;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    margin-top: 80px;
    z-index: 1;
}

.header{
    height: auto;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 20px;
    z-index: 1;
}

.subHeader{
    background-color: #282828;
    width: 100%;
    height: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.bodyText{
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 30px;
    z-index: 1;
    background-color: #282828FF;
    padding: 0 5px 5px 5px;
}

.left{
    width:50%;
    height: auto;
    padding-left: 5%;
}

.right{
    width: 50%;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 400px;
    height: 300px;
    background-image: url('../pictures/Fentanyl1.png');
    border-radius: 50%;
    background-size: cover;
    z-index: 1;
}

@media (max-width: 720px){
    .Information{
        background-image: url('../pictures/Fentanyl.jpg');
        background-size: cover;
    }
    .right{
        display: none;
    }
    .left{
        width: 100%;
        padding-left: 20px;
        padding-right: 50px;
    }
    .bodyText{
        background-color: rgba(0,0,0,.6);
        padding-bottom: 0px;
        margin-bottom: 20px;
    }
    .header{
        background-color: rgba(0,0,0,.6);
    }
    .subHeader{
        display: none;
    }
}