* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: finlandica;
  }

  .overdoseContainer{
    width: 100vw;
    height: auto;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }

  .resourcesTitle{
    width: 100%;
    height: 200px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: left;
    font-size: 50px;
  }

  .resourcesTitle h2{
    color: White;
    margin-left: 50px;
  }

  .resourcesTitle p{
    height: 100px;
    font-size: 18px;
    line-height: 26px;
    width: 50%;
    background-color: #282828;
    margin-top: 100px;
  }

  .resourcesBody{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .C1{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .cardR1{
    width: 95%;
    height: 250px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid red;
    background-color: #282828;
  }

  #ARG{
    width: 95%;
    height: auto;
    padding: 3px 3px 3px 3px;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(125deg, #A100FFFF 0%, #7C6CE2FF 48%, #FF71B5FF 100%);
  }

  .cardR1 img{
    height: 200px;
    width: 100%;
  }

  .logo1{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h1{
    color: white;
  }

  .cardHeaderR{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #282828;
  }

  .h2{
    color: rgb(36, 98, 234);
  }

  .cardR2{
    width: 90%;
    height: 300px;
    border: 2px solid rgb(36, 98, 234);
    cursor: pointer;
    overflow: hidden;
    background-color: #282828;
  }

  .logo2{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo2 img{
    height: 250px;
    width: auto;
  }

  .cardR3{
    width: 90%;
    height: 200px;
    border: 2px solid turquoise;
    cursor: pointer;
    overflow: hidden;
    background-color: #282828;
  }

  .logo3{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h3{
    color: turquoise;
  }

  .logo3 img{
    height: 150px;
    width: 100%;
  }

  .cardR4{
    width: 80%;
    height: 350px;
    border: 2px solid blue;
    cursor: pointer;
    overflow: hidden;
    background-color: #282828;
  }

  .logo4{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h4{
    font-size: 30px;
    color: blue;
  }

  .logo4 img{
    height: 250px;
    width: 250px;
  }

  .cardR5{
    width: 85%;
    height: 375px;
    border: 2px solid darkslategray;
    cursor: pointer;
    overflow: hidden;
    background-color: #282828;
  }

  .h5{
    font-size: 30px;
    color: white;
  }

  .logo5{
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo5 img{
    width: 300px;
    height: 300px;
  }

  .cardR6{
    width: 75%;
    height: 200px;
    border: 2px solid yellow;
    cursor: pointer;
    overflow: hidden;
    background-color: #282828;
  }

  .logo6{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo6 img{
    width: 170px;
    height: 125px;
  }

  .h6{
    color: yellowgreen;
  }

  .cardR7{
    width: 90%;
    height: 285px;
    border: 2px solid black;
    cursor: pointer;
    overflow: hidden;
    background-color: #282828;
  }

  .logo7{
    height: 235px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .logo7 img{
    height: 200px;
    width: 200px;
  }

  .cardR8{
    width: 95%;
    height: 300px;
    border: 2px solid grey;
    cursor: pointer;
    overflow: hidden;
  }

  .logo8{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
  }

  .logo8 img{
    height: 230px;
    width: 90%;
  }
  .h8{
    font-size: 25px;
    color: grey;
  }

  .blurryCircle{
    width: 200px;
    height: 200px;
    background-color: #F77F00; /* Change to your desired color */
    border-radius: 50%; /* Makes it a perfect circle */
    box-shadow: 0px 0px 50px 30px rgba(247, 127, 0, 0.6); /* Blur effect */
    transform: scaleX(1.2) scaleY(0.9) rotate(15deg); /* Irregular shape */
    filter: blur(50px); /* Extra blur */
  }