* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: finlandica;
  }

  .overdoseContainer{
    width: 100vw;
    height: auto;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
