* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.statsHomeContainer{
    width: 100vw;
    height: auto;
    background-color: #121212;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.CardContainer{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.statsTitle{
    width: 100%;
    height: 100px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 100px;
    
}

.statsTitle h2{
    color: #F77F00;
    padding:20px;
    border-radius: 20px;
    font-size: 60px;
}

.statoutline{
  width: auto;
  height: auto;
  padding: 3px 3px 3px 3px;
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
  border-radius: 20px;
}

  .stat1{
    width: auto;
    height: 400px;
    background-color: #282828;
    border-radius: 20px;  
}

  .statHeader{
    width: 100%;
    height: 40px;
    border-radius:20px 20px 0 0 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .statFooter{
    width: 100%;
    height: 100px;
    border-radius: 0 0 20px 20px;
    color: #EEDCC4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statMiddle{
    height: 400px;
    width: 100%;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 720px){
    .statsHomeContainer{
        flex-direction: column;
        justify-content: flex-start;
        background-color: #121212;
    }

    .CardContainer{
      flex-direction: row;
      overflow-x: scroll;
      justify-content: space-evenly;
      height: 500px;
      width: 100%;
      padding-left: 30px;
    }

    .statoutline{
      margin-right: 100px;
    }

    .statsTitle{
      margin-bottom: 0;
    }
  }